body {
  background-color: #e0d253;
  background-image: url("https://www.transparenttextures.com/patterns/robots.png");
}

.translation-form {
  display: grid;

  gap: 8px;
  background-color: #fef08a;
  padding: 16px;
  width: 50%;
  height: 80vh;
  margin: 0 auto;
  text-align: center;
  box-shadow: 2px 2px 2px black;
}
.translation-input-form {
  background-color: #fef08a;
  padding: 8px;
}

.translation-form-text {
  text-transform: capitalize;
  padding: 8px;
  height: 50%;
  margin-top: 0;
  background-color: #fef08a;
}
.translation-form-images {
  padding: 16px;

  background-color: #fef08a;
}
.translation-form-images img {
  background-color: #713f12;
  width: 50px;
  border: 1px solid black;
  box-shadow: 2px 2px 2px black;
  margin-right: 4px;
  border-radius: 10px;
}
.translation-form-images img:hover {
  width: 100px;
  height: 100px;
  box-shadow: 4px 4px 4px black;
  margin-right: 16px;
  transition: 0.5s;
  background-color: #b86e2d;
}
